body {
  color: #555;
  font-family: "Georgia", "Times New Roman", serif;
  @include adjust-font-size-to(16px);
}


#{headings(all)} {
  @include reset-box-model;
  //font-weight: normal;
}

ul, p {
  @include reset-box-model;
}

ul {
  list-style: none;
}

p {
  @include trailer(1);
}

a {
  color: #369;
  text-decoration: none;
  @include hover-link;
}

img {
  max-width: 100%;
  height: auto;
  @include leader(1);
  @include trailer(1);
}
