.posts {
  @include at-breakpoint($desktop) {
    @include span-columns(8 , 12);
  }
}

.post-item {
  //@include padding-trailer(1);
  @include trailer(1);
  border-bottom: 1px dotted #ccc;
}
.post-meta {
  @include pie-clearfix;
}
.post-date {
  color: #bbb;
  @include at-breakpoint($desktop) {
    margin-right: 1.5em;
    float: left;
  }
}
.post-tag {
  font-style: italic;
  @include at-breakpoint($desktop) {

    float: left;
  }
}
.post-title {
  //@include leader(.5);
  //@include trailer(.5);
  @include adjust-font-size-to(24px,1.3);
}
.post-thumbnail {
  margin: 0 1.5em;
  @include leader(1);
  @include trailer(1);
  img {
    display: block;
    margin: 0 auto;
  }
}

.read-more {
  display: block;
  @include leader(1);
  @include trailer(1);
  font-style: italic;
}


.sidebar-blog {
  @include at-breakpoint($desktop) {
    @include span-columns(3 omega, 12);
  }
}

.archive {
  @include trailer(1);
  .archive-title {
    @include padding-trailer(.125);
    border-bottom: 1px solid #ccc;
  }
  li {
    border-top: 1px dotted #ddd;
    &:first-child {
      border-top: none;
    }
    a {
      @include adjust-font-size-to(16px,1.5);
    }
  }
  @include at-breakpoint($ipad) {
    @include span-columns(3);
    padding-right: columns(1)+gutter(8);
    @include nth-omega(2n);
  }
  @include at-breakpoint($desktop) {
    @include span-columns(3,3);
    @include remove-nth-omega(2n);
  }
}
