.products {
  @include pie-clearfix;
  @include at-breakpoint($desktop) {
  @include span-columns(9 omega,12);
  }
}
.primary-products {
  @include pie-clearfix;
}
.product-item {
  text-align: left;
  @include trailer(2);
  @include at-breakpoint($ipad) {
    @include span-columns(4);
    @include nth-omega(2n);
  }
}
.product-pic {
  display: block;
}
.product-title {
  @include leader(.25);
  @include trailer(.25);
  @include adjust-font-size-to(20px,1);
}
.product-descript {
  @include adjust-font-size-to(18px,1);
  margin-bottom: 0;
}
.product-price {
  @include adjust-font-size-to(18px,1);
  color: red;
  font-weight: bold;
  //@include adjust-font-size-to(20px);
}
.product-orgin-price {
  color: #999;
  text-decoration: line-through;
  margin-right: 1.5em;
  @include adjust-font-size-to(18px,1);
}

.product-action {
  position: relative;
  .btn {
    @include transition(.3s ease-in);
    //display: none;
    opacity: 0.25;
    position: absolute;
    left: 0;
    bottom: 0;
  }
  &:hover .btn {
    opacity: 1;
    display: block;
  }
}


.other-products {
  @include pie-clearfix;
  @include padding-leader(1);
  border-top: 1px dotted #999;
  .product-item {
    @include trailer(1.5);
    text-align: left;
    @include span-columns(2);
    @include nth-omega(2n);
    @include at-breakpoint($ipad) {
      @include span-columns(2);
      @include remove-nth-omega(2n);
      @include nth-omega(4n);
    }
  }
  .product-title {
    height: 3em;
    overflow: hidden;
    @include adjust-font-size-to(16px,1);
  }
  .product-descript {
    height: 3em;
    overflow: hidden;
    @include adjust-font-size-to(16px,1);
    margin-bottom: 0;
  }
  .product-price {
    @include adjust-font-size-to(16px,1);
    color: red;
    font-weight: bold;
    margin-right: 1.5em;
    //@include adjust-font-size-to(20px);
  }
  .product-action {
    @include leader(.5);
    .btn-primary {
      font-size: 14px;
      line-height: 16px;
    }
  }
  .more {
    display: block;
    clear: both;
    text-align: right;
    font-style: italic;
    border-top: 1px dotted #999;
    @include leader(1);
    @include padding-leader(1);
    @include trailer(2);
  }
}


.sidebar-products {
  h3 {
    @include trailer(.25);
  }
  @include at-breakpoint($desktop) {
    @include span-columns(3, 12);
  }
}
.category {
  @include at-breakpoint($ipad) {
    @include span-columns(3);
    padding-right: columns(1)+gutter(8);
    @include nth-omega(2n);
  }
  @include at-breakpoint($desktop) {
    @include span-columns(3,3);
    @include remove-nth-omega(2n);
  }
}
.category-title {
  border-bottom: 1px solid #999;
  @include padding-trailer(.25);
}
.category-list {
  @include trailer(1);
  li {
    @include adjust-font-size-to(16px,1.5);
    border-top: 1px dotted #ccc;
    &:first-child {
      border-top: none;
    }
  }
}
